@import "tailwindcss";
/* @plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json"; */

@theme {
  --breakpoint-xs: 25rem;
}

:root {
  --font-family: "Roboto Slab", serif;
  --font-weight: 400;
  --font-size: 16px;
  --line-height: 1.5;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color-scheme: light dark;
  color: inherit;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-style: normal;
}